<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  {% if settings.favicon_enable %}
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  {% endif %}

  <!-- Title and description ================================================== -->
  <title>
  {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- Helpers ================================================== -->
  {% include 'social-meta-tags' %}
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <meta name="theme-color" content="{{ settings.color_primary }}">

  <!-- CSS ================================================== -->
  {{ 'ivory.css' | asset_url | stylesheet_tag }}

  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}
  {% include 'oldIE-js' %}

  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js' | script_tag }}
  {{ 'modernizr.min.js' | asset_url | script_tag }}

  {% comment %}
    If you store has customer accounts disabled, you can remove the following JS file
  {% endcomment %}
  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}

</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >

  <div class="container">  
    <header class="header__container">
      <div class="header">
        <div class="header__logo-container">
          <a href="/" class="header__logo">
            <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
              width="120pt" height="13pt" viewBox="0 0 2615.000000 300.000000"
              preserveAspectRatio="xMidYMid meet">
             
             <g transform="translate(0.000000,300.000000) scale(0.100000,-0.100000)"stroke="none">
             <path d="M6635 2994 c-492 -53 -819 -186 -1085 -440 -194 -187 -311 -398 -376
             -679 -25 -111 -31 -549 -9 -691 104 -662 654 -1104 1465 -1175 160 -14 440 -6
             585 16 715 110 1175 502 1296 1105 26 129 36 434 19 595 -26 254 -113 489
             -248 671 -230 306 -600 507 -1072 579 -101 16 -487 28 -575 19z m380 -425
             c413 -51 686 -284 775 -661 55 -237 53 -616 -6 -848 -111 -438 -467 -670 -994
             -647 -291 13 -499 94 -666 261 -120 120 -185 243 -236 440 -17 67 -21 123 -25
             322 -6 256 2 353 38 490 66 253 232 453 463 559 179 82 416 113 651 84z"/>
             <path d="M17555 2994 c-16 -2 -73 -9 -125 -15 -215 -24 -443 -90 -624 -181
             -380 -191 -614 -487 -702 -888 -16 -73 -19 -130 -19 -415 0 -285 3 -342 19
             -415 127 -581 568 -949 1266 -1057 143 -22 550 -25 710 -5 610 77 1026 334
             1184 733 27 71 56 179 56 217 l0 22 -352 -2 -352 -3 -17 -70 c-46 -181 -156
             -327 -302 -399 -152 -75 -394 -114 -637 -103 -474 23 -747 240 -842 672 -25
             114 -37 549 -19 702 56 471 316 735 781 792 253 32 556 -9 724 -97 143 -75
             249 -219 295 -402 l19 -75 351 -3 c406 -3 365 -17 331 118 -144 565 -714 886
             -1560 878 -85 0 -168 -3 -185 -4z"/>
             <path d="M24245 2994 c-492 -53 -819 -186 -1085 -440 -194 -187 -311 -398
             -376 -679 -25 -111 -31 -549 -9 -691 104 -662 654 -1104 1465 -1175 160 -14
             440 -6 585 16 715 110 1175 502 1296 1105 26 129 36 434 19 595 -26 254 -113
             489 -248 671 -230 306 -600 507 -1072 579 -101 16 -487 28 -575 19z m380 -425
             c413 -51 686 -284 775 -661 55 -237 53 -616 -6 -848 -111 -438 -467 -670 -994
             -647 -291 13 -499 94 -666 261 -120 120 -185 243 -236 440 -17 67 -21 123 -25
             322 -6 256 2 353 38 490 66 253 232 453 463 559 179 82 416 113 651 84z"/>
             <path d="M10 1500 l0 -1460 355 0 355 0 0 1460 0 1460 -355 0 -355 0 0 -1460z"/>
             <path d="M1962 1500 l733 -1460 345 0 345 0 733 1454 c402 800 732 1457 732
             1460 0 3 -175 6 -388 6 l-388 0 -519 -1142 -519 -1142 -18 39 c-9 22 -240 535
             -512 1140 l-495 1100 -391 3 -391 2 733 -1460z"/>
             <path d="M9240 1500 l0 -1460 360 0 360 0 0 560 0 560 394 0 393 0 409 -560
             409 -559 383 -1 c299 0 382 3 382 13 0 11 -124 176 -732 979 l-187 247 67 22
             c192 63 379 176 494 297 82 88 125 161 160 272 19 64 23 95 22 210 0 150 -14
             217 -66 327 -122 258 -429 439 -870 512 -215 36 -359 41 -1179 41 l-799 0 0
             -1460z m1636 1039 c333 -37 520 -168 564 -397 19 -95 7 -183 -35 -269 -45 -92
             -111 -151 -229 -208 -176 -84 -266 -94 -798 -95 l-418 0 0 490 0 490 410 0
             c226 0 454 -5 506 -11z"/>
             <path d="M12338 2908 c21 -29 330 -444 685 -922 l647 -868 0 -539 0 -539 360
             0 360 0 0 540 0 540 680 916 c374 503 680 917 680 920 0 2 -176 3 -392 2
             l-392 -3 -461 -677 c-253 -373 -464 -681 -470 -687 -6 -6 -173 232 -476 677
             l-467 687 -396 3 -397 2 39 -52z"/>
             <path d="M19950 1500 l0 -1460 1285 0 1285 0 0 205 0 205 -925 0 -925 0 0
             1255 0 1255 -360 0 -360 0 0 -1460z"/>
             </g>
             </svg>
          </a>
        </div>
  
        <div class="header__navigation--second">
          <div class="header__icons--container">
  
            <div class="header-search--btn">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="14.025" height="14.025" viewBox="0 0 52.966 52.966" style="enable-background:new 0 0 52.966 52.966;" xml:space="preserve">
                <path d="M51.704,51.273L36.845,35.82c3.79-3.801,6.138-9.041,6.138-14.82c0-11.58-9.42-21-21-21s-21,9.42-21,21s9.42,21,21,21
                 c5.083,0,9.748-1.817,13.384-4.832l14.895,15.491c0.196,0.205,0.458,0.307,0.721,0.307c0.25,0,0.499-0.093,0.693-0.279
                 C52.074,52.304,52.086,51.671,51.704,51.273z M21.983,40c-10.477,0-19-8.523-19-19s8.523-19,19-19s19,8.523,19,19
                 S32.459,40,21.983,40z"></path>
              </svg>
            </div>
  
            <div class="header__icon--world">
              <svg xmlns="http://www.w3.org/2000/svg" width="14.025" height="14.025" viewBox="0 0 14.025 14.025">
                <path d="M1189.865 2268.423a7.012 7.012 0 1 1-7.013 7.013 7.02 7.02 0 0 1 7.013-7.013m.175 3.576l.261-.011a10.258 10.258 0 0 0 1.948-.274l.287-.069-.115-.271c-.1-.244-.214-.474-.329-.687a3.925 3.925 0 0 0-1.707-1.8l-.345-.141V2272m-.351 0v-3.256l-.344.141a3.915 3.915 0 0 0-1.707 1.8 7.426 7.426 0 0 0-.329.687l-.115.271.286.069a10.279 10.279 0 0 0 1.949.274l.26.011m3.184-.455l.223-.076a8.332 8.332 0 0 0 1.224-.53l.31-.166-.259-.238a6.624 6.624 0 0 0-2.358-1.4l-.835-.286.561.681a6.3 6.3 0 0 1 .662.994 8.6 8.6 0 0 1 .382.808l.09.217m-6.016 0l.089-.217a8.71 8.71 0 0 1 .383-.807 6.2 6.2 0 0 1 .662-1l.561-.681-.835.286a6.616 6.616 0 0 0-2.358 1.4l-.259.238.31.166a8.337 8.337 0 0 0 1.224.53l.223.076m6.7 3.716h2.97l-.017-.266a6.609 6.609 0 0 0-1.513-3.8l-.134-.163-.183.1a8.41 8.41 0 0 1-1.461.657l-.23.079.072.232a11.093 11.093 0 0 1 .487 2.913l.009.241m-10.358 0h2.97l.008-.241a11.093 11.093 0 0 1 .487-2.913l.073-.232-.23-.079a8.344 8.344 0 0 1-1.461-.657l-.183-.1-.134.163a6.588 6.588 0 0 0-1.512 3.8l-.018.266m6.839 0h3.169l-.01-.26a11.024 11.024 0 0 0-.477-2.8l-.07-.226-.229.058a10.55 10.55 0 0 1-2.142.308l-.241.009v2.911m-3.519 0h3.168v-2.911l-.24-.009a10.53 10.53 0 0 1-2.142-.308l-.23-.058-.07.226a11 11 0 0 0-.475 2.8l-.011.26m8.344 4.578l.134-.163a6.609 6.609 0 0 0 1.513-3.8l.017-.267h-2.97l-.009.241a11.08 11.08 0 0 1-.487 2.913l-.072.232.23.079a8.528 8.528 0 0 1 1.461.657l.183.1m-2.213-.941l.07-.226a11.017 11.017 0 0 0 .477-2.8l.01-.26h-3.169v2.911l.241.009a10.55 10.55 0 0 1 2.142.308l.229.058m-5.575 0l.23-.058a10.53 10.53 0 0 1 2.142-.308l.24-.009v-2.911h-3.168l.011.26a10.987 10.987 0 0 0 .475 2.8l.07.226m-2.212.941l.183-.1a8.494 8.494 0 0 1 1.461-.657l.23-.079-.073-.232a11.08 11.08 0 0 1-.487-2.913l-.008-.241h-2.97l.018.267a6.588 6.588 0 0 0 1.512 3.8l.134.163m5.175 2.291l.345-.142a3.927 3.927 0 0 0 1.707-1.8c.115-.212.226-.443.329-.687l.115-.271-.287-.069a10.137 10.137 0 0 0-1.948-.273l-.261-.012v3.257m-.351 0v-3.257l-.26.012a10.159 10.159 0 0 0-1.949.273l-.286.069.115.271a7.367 7.367 0 0 0 .329.687 3.918 3.918 0 0 0 1.707 1.8l.344.142m1.488-.1l.836-.285a6.649 6.649 0 0 0 2.358-1.4l.259-.239-.31-.166a8.435 8.435 0 0 0-1.224-.53l-.223-.076-.09.218a8.337 8.337 0 0 1-.382.806 6.2 6.2 0 0 1-.662.995l-.562.681m-2.624 0l-.562-.681a6.2 6.2 0 0 1-.662-.995 8.577 8.577 0 0 1-.383-.806l-.089-.218-.223.076a8.337 8.337 0 0 0-1.224.53l-.31.166.259.239a6.641 6.641 0 0 0 2.358 1.4l.836.285" transform="translate(-1182.852 -2268.423)"></path>
              </svg>
            </div>
  
            {% if customer %}
              {% if customer.first_name != blank %}
                {% capture first_name %}<a class="header__login" href="/account">{{ customer.first_name }}</a>{% endcapture %}
                <a class="header__login" href="/account">{{first_name }}</a>
              {% else %}
                <a href="/account">{{ 'layout.customer.account' | t }}</a>
              {% endif %}
              <a href="/account/logout">{{ 'layout.customer.log_out' | t | customer_logout_link }}</a>
            {% else %}
              <a class="header__login" href="/account/login">{{ 'layout.customer.log_in' | t | customer_login_link }}</a>
            {% endif %}
  
            <a class="header__cart-container" href="/cart">Cart | <span data-cart-number="" class="header__cart--number">{{ cart.item_count }}</span></a>
  
          </div>
        </div>
      </div>
    </header>

    <main class="wrapper main-content" role="main">
      <div class="header__navigation--container">
        <ul class="header__menu-list">
          <li class="">
            <a href="">Bestseller Restock</a>
          </li>
          <li class="">
            <a href="/collections/all">All Items</a>
          </li>
          <li class="">
            <a href="/collections/tees-longsleeves">Tees &amp; Longsleeves</a>
          </li>
          <li class="">
            <a href="/collections/hoodies-zips">Hoodies &amp; Zips</a>
          </li>
          <li class="">
            <a href="/collections/pants">Pants</a>
          </li>
          <li class="">
            <a href="/collections/shorts">Shorts</a>
          </li>
          <li class="">
            <a href="/collections/sweaters">Sweaters</a>
          </li>
          <li class="">
            <a href="/collections/beanies">Beanies</a>
          </li>
          <li class="">
            <a href="/collections/outerwear">Outerwear</a>
          </li>
          <li class="">
            <a href="/collections/accessoires">Accessories</a>
          </li>
          <li class="">
            <a href="/collections/caps">Caps</a>
          </li>
          <li class="menu-spacing">
            <span></span>
          </li>
          <li class="">
            <a href="/collections/giftcards">Gift Cards</a>
          </li>
          <li class="">
            <a href="">Shipping Info</a>
          </li>     
        </ul>
      </div>
      {{ content_for_layout }}
    </main>
    
    <div class="footer">
      <footer id="footer">
        <div class="footer__links">
          <a href="https://pesoclo.zendesk.com/hc/de">Support</a>
          <a href="/de-ch/policies/shipping-policy">Versandkonditionen</a>
          <a href="/de-ch/policies/terms-of-service">AGB</a>
          <a href="/de-ch/policies/legal-notice">Impressum</a>
          <a href="/de-ch/policies/privacy-policy">Datenschutzerklärung</a>
          <a href="/de-ch#cc-settings">Cookie-Einstellungen</a>
          <a href="https://support.pesoclo.com/hc/de/categories/4563760517917-Jobs">Jobs</a>
        </div>
        <div class="footer__copyright">
          <p>IVORY © ALL RIGHTS RESERVED</p>
        </div>
      </footer>
    </div>
  </div>

  {{ 'fastclick.min.js' | asset_url | script_tag }}
  {{ 'timber.js' | asset_url | script_tag }}

  {% comment %}
    Template-specific js
  {% endcomment %}
  <script>
    {% if resetPassword %}
      $(function() {
        timber.resetPasswordSuccess();
      });
    {% endif %}
  </script>

  {% comment %}
    Ajaxify your cart with this plugin.
    Documentation:
      - http://shopify.com/timber#ajax-cart
  {% endcomment %}
  {% if settings.ajax_cart_method == "drawer" %}
    {{ 'handlebars.min.js' | asset_url | script_tag }}
    {% include 'ajax-cart-template' %}
    {{ 'ajax-cart.js' | asset_url | script_tag }}
    <script>
      jQuery(function($) {
        ajaxCart.init({
          formSelector: '#AddToCartForm',
          cartContainer: '#CartContainer',
          addToCartSelector: '#AddToCart',
          cartCountSelector: '#CartCount',
          cartCostSelector: '#CartCost',
          moneyFormat: {{ shop.money_format | json }}
        });
      });

      jQuery(document.body).on('afterCartLoad.ajaxCart', function(evt, cart) {
        // Bind to 'afterCartLoad.ajaxCart' to run any javascript after the cart has loaded in the DOM
        timber.RightDrawer.open();
      });
    </script>
  {% endif %}

</body>
</html>
